<!doctype html>
<html lang="ru">
<!-- https://github.com/xoposhiy/startup-generator -->
<head>
	<meta charset="utf-8">
	<title>εύρηκα!</title>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

	<body>
		<div id="root">
			<div v-if="ideasCount>7" class="references">
				О, я вижу серьёзный настрой!
				Посмотри <a target="blank" href="https://staff.skbkontur.ru/group/4634?action=discussions&id=24f9708e212e4ac1bc05a57cb170547c">эту на подборку книг</a> по проверке идей и старту проектов.
			</div>
			<button v-on:click="generate" class="btn btn-primary btn-xlg">{{button_name}}</button>
			<h2 class="idea" v-on:click="clickIdea" v-html="idea"></h2>
			<div v-if="ideasCount>0" v-on:click="clickIdea" class="great-idea">
				Хорошая идея? Скорее же, <a v-bind:href="mailto">отправьте её в бизнес-инкубатор</a>!
			</div>
		</div>
	</body>
	<script src="generator.js" type="text/babel"></script>
	<script src="viewmodel.js" type="text/babel"></script>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43313614 = new Ya.Metrika({
                    id:43313614,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43313614" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>